@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'poppins',sans-serif;
}
.nav-bar{
    width: 100%;
    height: 60px;
    background: linear-gradient(135deg, #016b9c 30%, rgb(42, 97, 42));
}
.mon-profil{
    color: #016b9c;
    margin-top: 70px;
    margin-bottom: 30px;
    font-size: 20px;
    margin-left: 10px;
}
#pexel-photo{
    border-radius: 50%;
}
.picture{
    margin-left: 10px;
    width: 100px;
    height: 100px;
    
}
.email{
    margin-bottom: 80px;
}
.identity-wrapper{
    display: flex;
}
.name-and-email{
    margin-left: 20px;
}
.name{
    margin-top: 20px;
    margin-bottom: 20px;
}
label{
    display: block;
    margin-bottom: 10px;
    margin-left: 35px;
    font-size: 20px;
}
input{
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #016b9c;
   width: 80%;
   margin-left: 35px;
   height: 30px;
    box-shadow: 0px 1px 1px 0px;
}
button{
    color: #deebf1;
    font-size: 15px;
    margin-bottom: 10px;
    background-color: #016b9c;
    border-radius: 5px;
    margin-top: 20px;
    border: none;
    padding: 10px 55px;
}
button a{
    color: #deebf1;
    font-size: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    margin-top: 20px;
    text-decoration: none;
    border: none;
    padding: 10px 55px;
}
button:hover{
    background-color: rgb(3, 33, 63);
}
.buton{
    text-align: center;
}
@media screen and (min-width:600px){

    .mon-profil{
       margin-top: 30px;
    }
    .name-surname-container{
        display: flex;
        margin-right: 80px;
        justify-content: space-between;
    }
    .tel-email-container{
        display: flex;
        justify-content: space-between;
        margin-right: 80px;
    }
    .surname{
        margin-bottom: 80px;
        margin-top: 20px;
    }
    .email{
      margin-right: 20px;
    }
    input{
        padding: 10px 0px 0px 45px ;
    }
    .buton{
       margin-top: 30px;
    }
    button a{
        font-size: 25px;
        border: none;
        padding: 10px 55px;
    }
}
@media screen and (min-width:800px){
    .main-container{
        max-width: 800px;
            margin: auto;
            border: 1px solid #dadec0;
            border-radius: 5px;
            margin-top: 20px;
    }
.mon-profil{
    font-size: 30px;
}
.picture{
    margin-left: 10px;
    width: 140px;
    height: 140px;
}
.name-and-email{
    margin-top: 20px;
    font-size: 20px;
}
input{
    padding: 10px 10px 0px 65px ;
}
}

