@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'poppins',sans-serif;
    padding: 0;
    margin: 0;
}

.main-container{
    padding-bottom: 25px;
}
.hight-bar{
    width: 100%;
    height: 60px;
    background: linear-gradient(135deg, #016b9c 30%, rgb(42, 97, 42));
}
.administration-text{
    display: none;
}

.hight-bar img{
    width: 120px;
    margin: 15px 0px 0px 20px;
}
.demande-list-profil {
    color: #016b9c;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 15px;
    display: flex;
    justify-content: space-evenly;
    margin-left: 160px;
   
}
.demande-list-profil a{
    text-decoration: none;
    color: #016b9c;
}
#pexel-photo{
    border: 1px solid #016b9c;
    border-radius: 50%;
}
.picture{
  margin: auto;
    width: 130px;
    height: 130px;
}
.profil-wrapper{
    text-align: center;
    padding-bottom: 50px;
    border-bottom: 1px solid #dadce0;
    margin: 0px 35px 0px 35px;
}
.identity-container{
    font-size: 18px;
   margin-left: 30px;
   margin-bottom: 50px;
   margin-top: 50px;
}
.name{
    margin-top: 15px;
}
.nom{
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(211, 201, 201);
}
.prenom{
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(211, 201, 201);
    margin-right: 50px;
}
.telephone{
   width: 300px;
    margin-top: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(211, 201, 201);
}
.email{
    margin-top: 30px;
    margin-right: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(211, 201, 201);
}
.nom-prenom{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.tel-email{
    display: flex;
    justify-content: space-between;
}
button{
    color: #deebf1;
    font-size: 20px;
    margin-bottom: 10px;
    background-color: #016b9c;
    border-radius: 5px;
    margin-top: 50px;
    border: none;
    padding: 10px 55px;
}
button a{
    color: white;
    text-decoration: none;
}
button:hover{
    background-color: rgb(3, 33, 63);
}
.buton{
    font-size: 20px;
    text-align: center;
}
@media screen and (min-width: 430px){
    .tel-email{
        justify-content: center;
        display: block;
    }
    .telephone{
        width: 80%;
    }
    .email{
        width: 80%;
    }
}
@media screen and (min-width: 600px){
    .demande-list-profil{
       margin-left: 340px;
    }
    .nom-prenom{
       display: flex;
       justify-content: space-between;
    }
    .tel-email{
        display: flex;
        justify-content: space-between;
    }
    .logo-text{
        display: flex;
    }
    .administration-text h4{
        margin-left: 20px;
        color: #016b9c;
        border: 1px dashed #016b9c;
        display: inline-block;
        padding: 5px;
    }
    
    .prenom{
        margin-top: 1px;
    margin-right: 123px ;
    }
    .buton{
        text-align: left;
        margin-left: 30px;
    }
    .profil-wrapper{
        padding-bottom: 50px;
    }
    .telephone{
        width: 200px;
    }
    .email{
        width: 200px;
        margin-right: 62px;
    }
   
}
@media screen and (min-width: 800px){
    .buton{
        margin-right: 560px;
    }
    .demande-list-profil{
        margin-left: 490px;
     }
     .email{
         margin-right: 62px;
     }
     .main-container{
        max-width: 800px;
        margin: auto;
        
        border-radius: 5px;
    }
}

@media screen and (min-width: 1024px){
    .main-container{
        margin-top: 20px;
        border: 1px solid #dadec0;
    }
    .hight-bar{
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
}